<div class="analog-out">

  <ngx-gauge [type]="gaugeType"
  [value]="gaugeValue"
  [label]="gaugeLabel"
  [append]="gaugeAppendText"
  [max]="gaugeMax"
  [min]="gaugeMin"
  duration="500"
  [size]="gaugeSize"
  >

  </ngx-gauge>

  <mat-slider color="warn"
  [max]="gaugeMax"
  [min]="gaugeMin"
  [(ngModel)]="gaugeValue"
  step="auto"

  ></mat-slider>
  <mat-form-field class="for-number">
    <input matInput type="number"[max]="gaugeMax" [min]="gaugeMin" [(ngModel)]="gaugeValue" (keyup)="pressValue($event)">
  </mat-form-field>

  <button mat-raised-button color="warn" (click)="sendData()" >Gonder</button>


</div>


